<style>
body {
  background-image: url('omggirl.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: White;
  color: Red;
  font-family: Times;
}
</style>
